/* Reset */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Inter", sans-serif;
}

body {
  background: #f6f7f8;
  color: #0f172a;
}

/* Navbar */
.navbar {
  background: white;
  border-bottom: 1px solid #e5e7eb;
  padding: 1rem 2rem;
}

.nav-left {
  display: flex;
  align-items: center;
  gap: 0.75rem;
}

.primary {
  color: #136dec;
  font-weight: bold;
  font-size: 1.2rem;
}

/* Layout */
.container {
  max-width: 800px;
  margin: 2rem auto;
  padding: 0 1rem;
}

/* Heading */
.heading h2 {
  font-size: 2.2rem;
  font-weight: 900;
}

.heading p {
  color: #64748b;
  margin-top: 0.5rem;
}

/* Add Task */
.add-task {
  display: flex;
  gap: 1rem;
  margin: 2rem 0;
}

.add-task input {
  flex: 1;
  padding: 0.75rem;
  border-radius: 8px;
  border: 1px solid #cbd5f5;
}

.add-task button {
  padding: 0.75rem 1.5rem;
  background: #136dec;
  color: white;
  border: none;
  border-radius: 8px;
  font-weight: bold;
  cursor: pointer;
}

/* Filters */
.filters {
  display: flex;
  gap: 1rem;
  margin-bottom: 1.5rem;
}

.filters label {
  background: #e5e7eb;
  padding: 0.4rem 0.8rem;
  border-radius: 6px;
  cursor: pointer;
}

.filters input {
  margin-right: 0.3rem;
}

/* Task List */
.task-list {
  list-style: none;
  background: white;
  border-radius: 10px;
  overflow: hidden;
}

.task {
  display: flex;
  align-items: center;
  gap: 1rem;
  padding: 1rem;
  border-bottom: 1px solid #e5e7eb;
}

.task:last-child {
  border-bottom: none;
}

.task small {
  margin-left: auto;
  color: #64748b;
}

.task.high span {
  font-weight: bold;
}

.completed {
  text-decoration: line-through;
  color: #64748b;
}

/* Footer */
.stats {
  display: flex;
  justify-content: space-between;
  margin-top: 1rem;
  color: #64748b;
  font-size: 0.9rem;
}
.stats span {
  font-weight: bold;
  color: #0f172a;
}
.stats .clear-completed {
  cursor: pointer;
  text-decoration: underline;
}
.stats .clear-completed:hover {
  color: #136dec;
}
/* Responsive
@media (max-width: 600px) {
  .add-task {
    flex-direction: column;
  }
} 
  .add-task button {
    width: 100%;
  }

  .delete-button {
    padding: 0.4rem 0.6rem;
  } */

/* Delete Button */
.delete-button {
  background: #ef4444;
  color: white;
  border: none;
  border-radius: 6px;
  cursor: pointer;
  padding: 0.6rem 1rem;
  font-size: 0.9rem;
}
.delete-button:hover {
  background: #dc2626;
}

/* Priority Colors */
.task.low {
  border-left: 6px solid #10b981;
}
.task.medium {
  border-left: 6px solid #f59e0b;
}
.task.high {
  border-left: 6px solid #ef4444;
} 